@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

#root {
  background-color: rgb(180, 215, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

h3 {
  font-size: 1rem;
}

.main-container {
  background-color: aliceblue;
  height: 500px;
  width: 70%;
  margin: auto;
  border-radius: 20px;
  border: 2px solid black;
  filter: drop-shadow(3px 3px 0 black);
  text-align: center;
}

.start-text {
  margin-top: 20%;
}

.start-button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
}

button {
  background-color: rgb(248, 160, 60);
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

button:hover {
  transform: translateY(-5px);
  filter: drop-shadow(2px 2px 0 black);
}

.count-image-container {
  height: 500px;
  overflow: hidden;
}

.count-image {
  height: 400px;
  margin: 50px auto;
}

.count-hints-container {
  height: 500px;
}

.guess-text {
  margin: 20px;
}

.hint-container {
  max-height: 250px;
  overflow: scroll;
}

.hint-button {
  border-radius: 5px;
  width: 90%;
  margin: 5px auto;
  background-color: rgb(162, 220, 122);
  font-size: 0.8rem;
}

.hint-button:disabled {
  cursor: not-allowed;
  background-color: rgb(205, 246, 178);
  transform: none;
  filter: none;
}

.hint-num {
  position: absolute;
}

form {
  text-align: left;
}

.input-area-container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 10px;
}

.input-area {
  width: 60%;
}

input {
  width: 100%;
  margin-bottom: 0px;
  padding: 2px 5px;
}

.search-results {
  padding: 0;
  font-size: 0.8rem;
  text-align: left;
  max-height: 100px;
  overflow: scroll;
}

.country-list-item:hover {
  cursor: pointer;
}

.next-question-btn {
  margin-top: 10px;
}
