@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

#root {
  background-color: rgb(180, 215, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 574px) {
  #root {
    height: fit-content;
  }
  .main-container {
    margin: 20px auto !important;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  h3,
  input,
  li {
    font-size: 0.7rem;
  }
  .count-image {
    margin-top: 50px !important;
  }
  button {
    font-size: 0.7rem;
    font-weight: 400;
  }
  .hint-button {
    font-size: 0.7rem !important;
  }
}

h3 {
  font-size: 1rem;
}

.main-container {
  background-color: aliceblue;
  height: 90%;
  width: 70%;
  margin: auto;
  border-radius: 20px;
  border: 2px solid black;
  filter: drop-shadow(3px 3px 0 black);
  text-align: center;
}

.start-text {
  margin-top: 20%;
}

.start-button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
}

button {
  background-color: rgb(248, 160, 60);
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

button:hover {
  transform: translateY(-5px);
  filter: drop-shadow(2px 2px 0 black);
}

.count-image-container {
  max-height: 500px;
  overflow: hidden;
}

.count-image {
  width: 90%;
  height: 90%;
  object-fit: contain;
  margin: 10% auto;
}

.count-hints-container {
  height: 90%;
  overflow: scroll;
}

.guess-text {
  margin: 20px;
}

.hint-container {
  height: 150px;
  overflow: scroll;
}

.hint-button {
  border-radius: 5px;
  width: 90%;
  margin: 5px auto;
  background-color: rgb(162, 220, 122);
  font-size: 0.8rem;
}

.hint-button:disabled {
  cursor: not-allowed;
  background-color: rgb(205, 246, 178);
  transform: none;
  filter: none;
}

.hint-num {
  position: absolute;
}

form {
  text-align: left;
}

.input-area-container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 10px;
}

.input-area {
  width: 60%;
}

input {
  width: 100%;
  margin-bottom: 0px;
  padding: 2px 5px;
}

.search-results {
  padding: 0;
  font-size: 0.8rem;
  text-align: left;
  max-height: 100px;
  overflow: scroll;
}

.country-list-item:hover {
  cursor: pointer;
}

.control-btn {
  margin: 10px;
}

.score {
  width: fit-content;
  position: absolute;
  margin: 20px;
}

.score h3 {
  margin: 0;
}

.cur-score {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  text-align: right;
  transform: translateY(10px);
  transition: 0.2s all ease-out;
  opacity: 0;
}

.active {
  transform: translateY(0);
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.end-text {
  margin-top: 100px;
}
